    <!-- No1 ---------------------------------------------------------------- -->
    {% comment as_p %}    

    <h2>as_p</h2>

    {{form.as_p}}

    {% endcomment %}    

    <!-- No2 ---------------------------------------------------------------- -->
    <!-- as_ul　              -->
    <!-- olにすると番号が付く -->
    {% comment as_ul %}    
    
    <h2>as_ul</h2>

    <ul>
        {{form.as_ul }}
    </ul>

    {% endcomment %}    


    <!-- No3 ---------------------------------------------------------------- -->
    <!-- （性別、趣味）は縦に表示-->
    {% comment as_table %}    
    {% endcomment %}    

    <h2>as_table</h2>

    <table class ="table">

        {{form.as_table }}

    </table>
