{% extends 'classApp/base.html' %}

{% block title %}
    一覧（個人情報）
{% endblock %}

{% block main %}
    <p>
        <!-- <a class="btn btn-primary btn-block" href="{% url 'create_url' %}" > 新 規 作 成 </a> -->
        <button class="btn btn-primary" onclick=location.href='{% url "create_url" %}'> 新 規 作 成 </button>
    </p>
    
    <table class="table table-striped">

        {% for item in object_list %}
        <tr>
            <td>{{ item.name }} </td>    
            <td>{{ item.sex }}  </td>    
            <td>
                <a href="{% url 'update_url' item.pk %}" class="btn btn-secondary">編集</a>
                <a href="{% url 'detail_url' item.pk %}" class="btn btn-primary">詳細</a>
                <a href="{% url 'delete_url' item.pk %}" class="btn btn-danger">削除</a>    
            </td>    
        </tr>
        {% endfor %}
    </table>
{% endblock %}

